<h3> 登録されたツイート一覧 </h3>
<div>
  <div>
    <% @tweets.each do |tweet| %>
      <div class="card hoverable">
        <div class="card-content">
          <div>
            <%= sanitize tweet["embed"] %>
          </div>
        </div>
        <div class="card-action">
          <%= link_to 'ツイート詳細', tweet_path(tweet["record"]) %>
          <%= link_to '登録解除する',
                tweet_path(tweet["record"]),
                method: :delete,
                data: { confirm: '本当に登録解除しますか？' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="fixed-action-btn">
  <a href="<%= new_tweet_path%>" class="btn-floating btn-large" title="新しくマイデザインを登録する">
    <i class="large material-icons">add</i>
  </a>
</div>
