<h3>登録されたツイートの詳細</h3>
<p>
  <%= sanitize @tweet_embedded %>
</p>
<div>
  <%= button_to 'このツイートを登録解除する',
                @tweet,
                method: :delete,
                data: { confirm: '本当に登録解除しますか？' },
                :class=>"btn red waves-effect waves-light" %>
</div>
<div class="fixed-action-btn">
  <a href="<%= new_tweet_path%>" class="btn-floating btn-large" title="新しくマイデザインを登録する">
    <i class="large material-icons">add</i>
  </a>
</div>
