<h2>登録されたツイートの詳細</h2>
<p>
  <strong>URL:</strong>
  <%= @tweet.url %>
</p>
<div>
  <%= button_to 'このツイートを登録解除する',
                @tweet,
                method: :delete,
                data: { confirm: '本当に登録解除しますか？' } %>
</div>
<div class="fixed-action-btn">
  <a href="<%= new_tweet_path%>" class="btn-floating btn-large" title="新しくマイデザインを登録する">
    <i class="large material-icons">add</i>
  </a>
</div>
