<div>
  <h3><i class="medium material-icons">eco</i><span class="nobreak">マイデザインを</span>共有しよう</h3>
  <p class="flow-text">Twitter に投稿した「あつまれどうぶつの森」のマイデザインを共有しよう</p>
</div>
<div class="row">
  <div class="col s4 center">
    <div>
      <i class="large material-icons">unarchive</i>
    </div>
    <h4>マイデザインの披露</h4>
    <p class="flow-text">「あつまれどうぶつの森」のマイデザインは、仕立て屋エイブルシスターズから Twitter に投稿できます。このサービスでは、マイデザインを含むツイートを登録できます。<br>
    </div>
    <div class="col s4 center">
      <div>
        <i class="large material-icons">dashboard</i>
      </div>
      <h4>インスピレーションの共有</h4>
      <p class="flow-text">自分や他の人が登録したマイデザインを一覧できます。様々なマイデザインから新たなインスピレーションを得ましょう。</p>
    </div>
    <div class="col s4 center">
      <div>
        <i class="large material-icons">autorenew</i>
      </div>
      <h4>一括登録</h4>
      <p class="flow-text">Twitter 認証をすると、あなたの Twitter アカウントに投稿したマイデザインをまとめて登録できます。</p>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a href="<%= new_tweet_path%>" class="btn-floating btn-large pulse" title="新しくマイデザインを登録する">
      <i class="large material-icons">add</i>
    </a>
  </div>
