<h1>
  <h1><%= link_to 'Witness me', root_path %></h1>
</h1>
<p>「あつまれどうぶつの森」のマイデザインを共有しよう</p>
<p>「あつまれどうぶつの森」では、自分が作成したマイデザインを Twitter へ投稿できます。<br>
  このサービスでは、マイデザインを投稿したツイートを登録することで、自分や他の人のマイデザインを一覧できます。</p>
<%= link_to "共有されたツイート一覧", controller: 'tweets' %>
