<div>
  <h2>「あつまれどうぶつの森」のマイデザインを共有しよう</h2>
  <p class="flow-text">「あつまれどうぶつの森」では、自分が作成したマイデザインを Twitter へ投稿できます。<br>
    このサービスでは、マイデザインを投稿したツイートを登録することで、自分や他の人のマイデザインを一覧できます。</p>
</div>
<div class="row">
  <div class="col s4">
    マイデザインの披露
  </div>
  <div class="col s4">
    インスピレーションの共有
  </div>
  <div class="col s4">
    自動登録
  </div>
</div>
<div class="fixed-action-btn">
  <a href="<%= new_tweet_path%>" class="btn-floating btn-large pulse" title="新しくマイデザインを登録する">
    <i class="large material-icons">add</i>
  </a>
</div>
